

<div>
  <h2 >Nova marcação</h2>
</div>
<div>
  <form [formGroup]="formularioMarcacao" (ngSubmit)="handleSubmit()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Tipo:</label>
      <input formControlName="tipo" type="text" id="tipo" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
      @if ((submitted || formularioMarcacao.controls['tipo'].touched) && formularioMarcacao.controls['tipo'].errors) {
      <div>
        @if (formularioMarcacao.controls['tipo'].errors['required']) {
        <span>O Tipo é obrigatório</span>
        }
      </div>
      }
    </div>
    <div class="mb-3">
      <label for="animalId" for="exampleInputEmail1" class="form-label">ID do Animal:</label>
      <input formControlName="animalId" type="text" id="animalId" id="tipo" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"/>
      @if ((submitted || formularioMarcacao.controls['animalId'].touched) && formularioMarcacao.controls['animalId'].errors) {
      <div>
        @if (formularioMarcacao.controls['animalId'].errors['required']) {
        <span>O ID do Animal é obrigatório</span>
        }
      </div>
      }
    </div>
    <div class="mb-3">
      <label for="tutorId" for="exampleInputEmail1" class="form-label">ID do Tutor:</label>
      <input formControlName="tutorId" type="text" id="tutorId" id="tipo" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
      @if ((submitted || formularioMarcacao.controls['tutorId'].touched) && formularioMarcacao.controls['tutorId'].errors) {
      <div>
        @if (formularioMarcacao.controls['tutorId'].errors['required']) {
        <span>O ID do Tutor é obrigatório</span>
        }
      </div>
      }
    </div>
    <div class="mb-3">
      <label for="dataHora" for="exampleInputEmail1" class="form-label">Data e Hora:</label>
      <input formControlName="dataHora" type="datetime-local" id="dataHora" id="tipo" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"/>
      @if ((submitted || formularioMarcacao.controls['dataHora'].touched) && formularioMarcacao.controls['dataHora'].errors) {
      <div>
        @if (formularioMarcacao.controls['dataHora'].errors['required']) {
        <span>A Data e Hora é obrigatório</span>
        }
      </div>
      }
    </div>
    <button type="submit" [disabled]="submitted && formularioMarcacao.invalid" class="btn btn-success">Criar marcação</button>
  </form>
</div>
