<h1>Olá , o meu nome é {{ meuNome }}</h1>

<h2>Que bom, {{meuNome}}, eu {{mensagem}}</h2>

<img [src]="imagem" alt="">
<br>

<button (click) = "alterarImagem()"> Before Drugs</button>

<button (click)="alterarImagem2()">After Drugs</button>

<br>
<p [style.color]="pCorTexto"
[style.backgroundColor]="pCorFundo">
  Também gosto e cães!
</p>

<br><br>
<button (click)="alterarCores()" [disabled]="!pAlterarCores">Alterar cor texto fundo</button>
<button (click)="alterarAtivo()">Desativar</button>

<hr>
<h3>{{ contador }}</h3>
<button (click)="incrementar()">Incrementar</button>


