<p>form-api works!</p>

<form [formGroup]="form" (ngSubmit)="formSubmit()">

<div>
  <label for="nome">Nome:</label>
  <input type="text" name="nome" id="nome" formControllerName = "nome">
</div>

<div>
  <label for="pais">Pais:</label>
  <input type="text" name="pais" id="pais" formControllerName = "pais">
</div>

<div>
  <label for="populacao">População:</label>
  <input type="number" name="populacao" id="populacao" formControllerName = "populacao">
</div>


<div>
  <button type="submit" [disabled]="form.invalid">Ok</button>
</div>






</form>
