:root{
  --colorRed: #8c0335;
  --colorBlack: #000000;
  
}

body{

  background-color: #8c0335;

}

/*NavBar*/

.Logo{
  display: flex;
  justify-content: flex-start;
  width: 60px;
  max-width: 100%;
  margin-left: 60px;
  margin-right: 50px;
}


.div_navbar nav{
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:  10px ;
}

.div_navbar ul{

  display: flex;
  align-items: center;
  padding: 0;
}
.div_navbar .li_nav{
color: white;
list-style: none;
margin-right: 80px;
font-family: Bangers;
font-size: 22px;
}
.div_navbar a{
  text-decoration: none;
  color: white;
}

.div_navbar a:hover{
  color: var(--colorRed);
}

/*NavBar media*/

@media screen and (max-width: 768px) {
  .div_navbar ul {
    display: none; 
    justify-content: flex-end;
    flex-direction: column;
    background-color: #000000;
    position: absolute;
    top: 60px; 
    left: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    
  }

  .div_navbar ul.active {
    display: flex; 
    
  }

  .div_navbar .menu-toggle {
    display: block;
    cursor: pointer;
    color: white;
    font-size: 24px;
  }
}

/* img*/

.body-imagem-fundo {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('imagens/Todas.jpeg');
  background-size: cover;
  background-position: center;
}

/*Botão*/

.btn_letsgo{
  color: white;
  text-align: center;
  font-family: Bangers;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--colorRed);
  border-color: var(--colorRed);
  border-radius: 35px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
}
.btn_letsgo:hover{

  animation: letsgo 1s alternate;
  
  
}
@keyframes letsgo {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
  
}






  /*Footer*/
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  background-color: #000000;
  color: white;
  width: 100%;
  justify-content: center;
  font-size: 12px;
  height: 8%;
  padding-bottom: 20px;

}

.p_footer{
  margin: 0;
  align-items: center;
}

.img_logo_social{
  
 margin-top: 15px;
  width: 25px;
  margin-right: 45px;
  padding-bottom: 20px;
}
  


/* Estilos para a animação */
.hidden {
  display: none;
  animation: rockAnimation 2s ease-in-out infinite;
}

@keyframes rockAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

  