:root{
  --colorRed: #8c0335;
  --colorBlack: #000000;
  
}



/* accordion */

.accordion {
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .accordion-item {
    border-bottom: 1px solid #ccc;
  }

  .accordion-item:hover{
        color: black;
  }
  
  .accordion-header {
    padding: 10px;
    background-color: #f4f4f4;
    cursor: pointer;
  }
  
  .accordion-content {
    display: none;
    padding: 10px;
  }
  
  .accordion-content.active {
    display: block;
  }

  /*Footer*/

  
footer {
  background-color: #0c0000;
  padding: 20px;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  font-size: 15px;
  color: #fff;
}

.footer-social {
  margin-bottom: 20px;
}

.social-link {
  display: inline-block;
  margin: 0 10px;
  padding: 8px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
}

/* Estilos para a animação */
.hidden {
  display: none;
  animation: rockAnimation 2s ease-in-out infinite;
}

@keyframes rockAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

  