<div class="container">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Telemovel</th>
          <th scope="col">Email</th>
          <th></th>
          <th></th>

        </tr>
      </thead>
      <tbody>
          @for (tutor of tutores; track tutor.id) {
              <tr>
                <td>{{ tutor.nome }}</td>
                <td>{{ tutor.telemovel }}</td>
                <td>{{ tutor.email }}</td>
                <td><button style="background-color: #3889C9;" class="btn btn-primary" [routerLink]="['/editar-tutor/',tutor.id]" type="button">Editar</button></td>
              <td><button class="btn btn-danger" [routerLink]="['/eliminar-tutor/',tutor.id]" type="button">Apagar</button></td>

              </tr>
          } @empty {
            @if (tutores) {
                <tr>
                  <td colspan="4">Não há marcações!</td>
                </tr>
            } @else {
                <tr>
                  <td colspan="4">A carregar as marcações...</td>
                </tr>
            }
          }
        </tbody>
    </table>
  </div>
