{{ arr }}

<ul>
  <li *ngFor="arr.lenght == 0"></li>
  <li *ngFor="let item of arr">
{{ item }}
  </li>

</ul>

<div>
<article *ngFor="let item of arr">
{{ item }}
</article>

</div>

<ul>
  <ng-template ngFor let-item [ngForOf]="arr" let-i="index">
    <li>{{ item }} ({{ i }})</li>
    </ng-template>
</ul>


<ul>
  <li *ngFor="let item of arr; index as i; first as ePrimeiro">
{{ item }} ({{ i }})
<b *ngFor="ePrimeiro">Primeiro</b>
  </li>
</ul>


<hr>
<h3>afor</h3>
<ul>
  @for (item of arr; track $index) {
    <li>
      {{ item }} ({{ $index }})
    </li>
  }
@empty {
  <!-- Pode testar o empty, comenatndo o array de nomes -->
    <li>
      A lista está vazia
    </li>
  }
</ul>
