<h1>Lista de Cidades</h1>



<div>
  <button type="button" (click)="irAdicionarCidade()">Adiconar nova cidade</button>
</div>
<br>
<!-- <div>
  <button routerLink="/formulario-cidade-td" routerLinkActive="active" >Formulário (via routerLink)</button>

</div> -->

<div>
  <button type="button"  (click)="limparDados()">Limpar dados</button>
</div>
<br>

<div>
  <ul>
    @for (cidade of cidades; track $index) {
    <app-minha-lista-item [cidade]="cidade"></app-minha-lista-item>
    }
  </ul>
</div>



