<div class="container">



  <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Especie</th>
          <th scope="col">Raca</th>
          <th scope="col">Sexo</th>
          <th scope="col">Data de Nascimento</th>
          <th scope="col">Tutor</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          @for (animal of animais; track animal.id) {
              <tr>
                <td>{{ animal.nome }}</td>
                <td>{{ animal.especie }}</td>
                <td>{{ animal.raca }}</td>
                <td>{{ animal.sexo }}</td>
              <td>{{ animal.dataNascimento }}</td>
              <td>{{ animal.tutorId }}</td>
              <td><button style="background-color: #3889C9;" class="btn btn-primary" [routerLink]="['/editar-animal/',animal.id]" type="button">Editar</button></td>
              <td><button class="btn btn-danger" [routerLink]="['/eliminar-animal/',animal.id]" type="button">Apagar</button></td>
              </tr>
          } @empty {
            @if (animais) {
                <tr>
                  <td colspan="4">Não existe animal aqui</td>
                </tr>
            } @else {
                <tr>
                  <td colspan="4">A carregar os animais...</td>
                </tr>
            }
          }
        </tbody>
    </table>

  </div>
